/**
 * Base (super tiny narrow browsers)
 * - 1 col
 * - full width
 */ 
.container { width: 100% }

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12,
.col_quarter, .col_third, .col_half, .col_two_thirds, .col_three_quarters, .col_full { float: left; margin: 0 2%; width: 96%; } 

.col_quarter 		{ @extend .col_3; } 
.col_third 			{ @extend .col_4; } 
.col_half			{ @extend .col_6; } 
.col_two_thirds		{ @extend .col_8; } 
.col_three_quarters	{ @extend .col_9; } 
.col_full			{ @extend .col_12; } 

// Thanks 960.gs:
.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}
.alpha { margin-left: 0; }
.omega { margin-right: 0; }
.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after,
.container:after {
  	clear: both;
}


/**
 * iPhone Landscape
 * - 2 cols?
 * flexible to fill the screen
 */
@media only screen and (min-width: 480px) {

}

/**
 * iPad Portrait
 * - full 12 cols
 * - flexible so they always fill the screen
 */
@media only screen and (min-width: 768px) {
	// gutters: 20px -> 1.953125%
	// cols: 44px -> 8.333333333%
	
	.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, 
	.col_7, .col_8, .col_9, .col_10, .col_11, .col_12 { margin: 0 1.302083333%; }
	.col_1  { width: 5.729166667%; } 	//44px
	.col_2  { width: 14.0625%; } 		//108px
	.col_3  { width: 22.395833333%; } 	//172px
	.col_4  { width: 30.729166667%; } 	//236px
	.col_5  { width: 39.0625%; } 		//300px
	.col_6  { width: 47.395833333%; } 	//364px
	.col_7  { width: 55.729166667%; } 	//428px
	.col_8  { width: 64.0625%; } 		//492px
	.col_9  { width: 72.395833333%; } 	//556px
	.col_10 { width: 80.729166667%; } 	//620px
	.col_11 { width: 89.0625%; } 		//684px
	.col_12 { width: 97.395833333%; } 	//748px
	
	.push_1  { left: 8.333333333%; }	//64px
	.push_2  { left: 16.666666667%; }	//128px
	.push_3  { left: 25%; }				//192px
	.push_4  { left: 33.333333333%; }	//256px
	.push_5  { left: 41.666666667%; }	//320px
	.push_6  { left: 50%; }				//384px
	.push_7  { left: 58.333333333%; }	//448px
	.push_8  { left: 66.666666667%; }	//512px
	.push_9  { left: 75%; }				//576px
	.push_10 { left: 83.333333333%; }	//640px
	.push_11 { left: 91.666666667%; }	//704px
	
	.pull_1  { left: -8.333333333%; }	//64px
	.pull_2  { left: -16.666666667%; }	//128px
	.pull_3  { left: -25%; }			//192px
	.pull_4  { left: -33.333333333%; }	//256px
	.pull_5  { left: -41.666666667%; }	//320px
	.pull_6  { left: -50%; }			//384px
	.pull_7  { left: -58.333333333%; }	//448px
	.pull_8  { left: -66.666666667%; }	//512px
	.pull_9  { left: -75%; }			//576px
	.pull_10 { left: -83.333333333%; }	//640px
	.pull_11 { left: -91.666666667%; }	//704px
}

/** 
 * iPad Landscape
 * - fixed from here on up
 */
@media only screen and (min-width: 1067px) {
	// gutters: 20px
	// cols: 60px
	
	.container { margin-left: 10%; width: 90%; }
	
	.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, 
	.col_7, .col_8, .col_9, .col_10, .col_11, .col_12 { margin: 0 10px; }
	
	.col_1  { width: 60px; }
	.col_2  { width: 140px; }
	.col_3  { width: 220px; }
	.col_4  { width: 300px; }
	.col_5  { width: 380px; }
	.col_6  { width: 460px; }
	.col_7  { width: 540px; }
	.col_8  { width: 620px; }
	.col_9  { width: 700px; }
	.col_10 { width: 780px; }
	.col_11 { width: 860px; }
	.col_12 { width: 940px; }
	

}

// Retina Display
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	
}