// Grays
// -------------------------
$black:			#000;
$grayDarker:	#222;
$grayDark:		#333;
$gray:			#34525e;
$grayLight:		#acbbc1;
$grayLighter:	#eee;
$white:			#fff;


// Accent colors
// -------------------------
$blue: #049cdb;
$blueDark: #0064cd;

// Scaffolding
// -------------------------
$bodyBackground: $white;
$textColor:	$gray;


// Links
// -------------------------
$linkColor:	#08c;
$linkColorHover: darken($linkColor, 15%);


// Typography
// -------------------------
$sansFontFamily:	"proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:	"adelle", Georgia, "Times New Roman", Times, serif;
$monoFontFamily:	Monaco, Menlo, Consolas, "Courier New", monospace;

$baseFontSize:		1em;
$baseFontFamily:	$serifFontFamily;
$baseLineHeight:	1.625em;
$altFontFamily:		$sansFontFamily;

$headingsFontFamily:	$sansFontFamily; // empty to use BS default, $baseFontFamily
$headingsFontWeight:	normal;		// instead of browser default, bold
$headingsColor:			black; // empty to use BS default, $textColor


// Hr border color
// -------------------------
$hrBorder:	$grayLighter;

// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
$gridColumns:		12;
$gridColumnWidth:	60px;
$gridGutterWidth:	20px;
$gridRowWidth:		($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// 1200px min
$gridColumnWidth1200:	70px;
$gridGutterWidth1200:	30px;
$gridRowWidth1200:		($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1));

// 768px-979px
$gridColumnWidth768:	42px;
$gridGutterWidth768:	20px;
$gridRowWidth768:		($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1));


@import '_bootstrap';
@import '_bootstrap-responsive';

//
// Typography
// --------------------------------------------------
body { font-size: 16px; font-weight: 300; }

// Body text
// -------------------------

p { margin: 0 0 $baseLineHeight; }
.lead {
	margin-bottom: $baseLineHeight;
	font-size: $baseFontSize * 1.125;
	line-height: $baseLineHeight;
}
.meta {
	color: darken($grayLight, 10%);
	margin: -($baseLineHeight * 2) 0 $baseLineHeight;
	font-family: $sansFontFamily;
	font-size: .666666667em;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}
.subtle, #footnotes + ol {
	color: $grayLight;
	a { color: $grayLight; text-decoration: underline; }
	a:hover { color: darken($grayLight, 20%); }
}

a { color: darken($blue, 10%); }

// Emphasis & misc
// -------------------------

small { font-size: 85%; }
strong { font-weight: bold; }
em { font-style: italic; }
cite { font-style: normal; }

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
	margin: $baseLineHeight 0;
	font-family: $headingsFontFamily;
	font-weight: $headingsFontWeight;
	letter-spacing: 2px;
	color: $headingsColor;
	text-rendering: optimizelegibility; // Fix the character spacing for headings
	text-transform: uppercase;
	text-align: center;
	
	small {
		font-weight: normal;
		line-height: 1;
		color: $grayLight;
	}
}
h1 { font-size: 1.5em; line-height: 1.625em; }
h2 { font-size: 1em; line-height: 1.625em; }
h3 { font-size: .875em; line-height: 1.625em; }
h4 { font-size: .875em; line-height: 1.625em; }
h5 { font-size: .875em; line-height: 1.625em; }
h6 { font-size: .875em; line-height: 1.625em; }

// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
	padding: 0;
	margin: 0 0 $baseLineHeight / 2 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}
li {
	line-height: $baseLineHeight;
}

// Description Lists
dl { margin-bottom: $baseLineHeight; }
dt,
dd { line-height: $baseLineHeight; }
dt { font-weight: bold; }
dd { margin-left: $baseLineHeight / 2; }

// MISC
// ----

// Horizontal rules
hr {
	margin: $baseLineHeight 0;
	border: 0;
	border-top: 1px solid $hrBorder;
	border-bottom: 1px solid $white;
}

// Abbreviations and acronyms
abbr[title] {
	cursor: help;
	border-bottom: 1px dotted $grayLight;
}
abbr.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

// Blockquotes
blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 $baseLineHeight;
	border-left: 5px solid $grayLighter;
	font-style: italic;
	p {
		margin-bottom: 0;
		@include font-shorthand(16px,300,$baseLineHeight * 1.25);
	}
	small {
		display: block;
		line-height: $baseLineHeight;
		color: $grayLight;
		&:before {
			content: '\2014 \00A0';
		}
	}

	// Float right with text-align: right
	&.pull-right {
		float: right;
		padding-right: 15px;
		padding-left: 0;
		border-right: 5px solid $grayLighter;
		border-left: 0;
		p,
		small {
			text-align: right;
		}
		small {
			&:before {
				content: '';
			}
			&:after {
				content: '\00A0 \2014';
			}
		}
	}
}

// Quotes
blockquote { border-left: 2px solid $grayLighter; }
q:before,
q:after,
blockquote:before,
blockquote:after {
	
	content: "";
}

// Addresses
address {
	display: block;
	margin-bottom: $baseLineHeight;
	font-style: normal;
	line-height: $baseLineHeight;
}

header {
	h3 { text-align: left; }
	a { color: $blue; }
}

code {
	background: transparent;
	border: 1px solid $grayLighter;
	color: darken($blueDark, 10%);
}

.polaroid {
	@include box-sizing(border-box);
	border: 1px solid lighten($grayLighter, 2%);
	background: white;
	margin: $baseLineHeight 0;
	padding: 5px;
	width: 100%;
	img { 
		@include box-sizing(border-box);
		border: 1px solid $grayLighter; 
	}	
}

figcaption {
	color: $grayLight;
	font: .875em $sansFontFamily;
	padding: $baseLineHeight / 2 0 0;
	text-align: center;
}

.extra-wide {
	margin-left: -($gridColumnWidth + $gridGutterWidth)/2;
	@include grid-core-span(9, $gridColumnWidth, $gridGutterWidth);
}


#content {
	
	background: #fff;
	background: -moz-linear-gradient(left, #fafeff 0%, #ffffff 50%, #fafeff 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fafeff), color-stop(50%,#ffffff), color-stop(100%,#fafeff));
	background: -webkit-linear-gradient(left, #fafeff 0%,#ffffff 50%,#fafeff 100%);
	background: -o-linear-gradient(left, #fafeff 0%,#ffffff 50%,#fafeff 100%);
	background: -ms-linear-gradient(left, #fafeff 0%,#ffffff 50%,#fafeff 100%);
	background: linear-gradient(to right, #fafeff 0%,#ffffff 50%,#fafeff 100%);
	
	padding-bottom: 100px;
	position: relative;
	z-index: 3;
	
	// drop shadow for depth: 
	&:after {
		background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0)));
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
		background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
		background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
		bottom: -40px;
		content: '';
		display: block;
		height: 40px;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
}

#footnotes + ol {
	color: $grayLight;
	font-family: $sansFontFamily;
}

footer {
	
	background: $grayDarker;
	color: #d3dce0;
	padding: 30px 0;
	position: relative;
	width: 100%;
	z-index: 1;
	
	h1, h2, h3, h4, h5, h6 { color: white; }
	a { color: lighten($blue, 45%); }
	a:hover { color: white; }
	
	hr {
		border-top-color: #111;
		border-bottom-color: #333;
	}
}
#big-dumb-mug { padding-top: 30px; }
#about-me { padding-top: 60px; }

#footer-search {
	text-align: center;
	input {
		@include border-radius(25px);
		@include box-shadow(#{inset 0 1px 1px rgba(0,0,0,.075)});
		@include transition(#{border linear .2s, box-shadow linear .2s});
		
		background-color: #1f1f1f;
		border: 1px solid #333;
		color: $grayLighter;
		display: inline-block;
		font-size: $baseFontSize;
		height: $baseLineHeight;
		line-height: $baseLineHeight;
		padding: 4px 6px;
		padding-right: 14px;
		padding-right: 4px \9;
		padding-left: 14px;
		padding-left: 4px \9; /* IE7-8 doesn't have border-radius, so don't indent the padding */
		margin-bottom: 0; // Remove the default margin on all inputs
		width: 240px;

		// Focus state
		&:focus {
			border-color: rgba(82,168,236,.8);
			outline: 0;
			outline: thin dotted \9; /* IE6-9 */
			@include box-shadow(#{inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)});
		}

	}
	
}

// peek-a-boo footer
.positionfixed {
	#content { margin-bottom: 400px; }
	footer { bottom: 0; height: 340px; position: fixed; }
}

.nope { color: $red; }
.yep { color: $green; }

@media (max-width: 979px) {
	#big-dumb-mug {
		text-align: center;
		img { max-width: 170px; }
	}
	.content, header, footer { 
		@include box-sizing(border-box);
	}
	.extra-wide {
		img	{ width: 100%; }
		margin-left: 0;
		width: 100%;
	}
}

// Small screens
@media (max-width: 767px) {
	body { font-size: 14px; font-weight: 400; padding: 0; }
	.content, header, footer {
		padding-left: 10px; 
		padding-right: 10px; 
	}
}

// Tablets, probably
@media (min-width: 768px) and (max-width: 979px) {
	body { font-size: 20px; }
	.content, header, footer {
		padding-left: 40px; 
		padding-right: 40px; 
	}
	.container {
	    width: auto;
	  }
	  // Fluid rows
	  .row-fluid {
	    width: 100%;
	  }
	  // Undo negative margin on rows and thumbnails
	  .row,
	  .thumbnails {
	    margin-left: 0;
	  }
	  .thumbnails > li {
	    float: none;
	    margin-left: 0; // Reset the default margin for all li elements when no .span* classes are present
	  }
	  // Make all grid-sized elements block level again
	  [class*="span"],
	  .row-fluid [class*="span"] {
	    float: none;
	    display: block;
	    width: 100%;
	    margin-left: 0;
	    @include box-sizing(border-box);
	  }
	  .span12,
	  .row-fluid .span12 {
	    width: 100%;
	    @include box-sizing(border-box);
	  }
}

// Normal screens
@media (min-width: 980px) {
	.content { margin-left: ($gridColumnWidth * 2) + ($gridGutterWidth * 3); }
}

@media (min-width: 1200px) {
	body { font-size: 20px; }
	.content { margin-left: ($gridColumnWidth1200 * 2) + ($gridGutterWidth1200 * 3); }
	// peek-a-boo footer
	.positionfixed {
		#content { margin-bottom: 460px; }
		footer { bottom: 0; height: 400px; position: fixed; }
	}
	#big-dumb-mug { padding-top: 20px; }
	
	.extra-wide {
		img	{ width: 100%; }
		margin-left: -($gridColumnWidth + $gridGutterWidth)/2;
		@include grid-core-span(9, $gridColumnWidth1200, $gridGutterWidth1200);
	}
}
