/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* end reset */
html {
  overflow-y: scroll; }

body, select, input, textarea {
  color: #333333;
  font-family: sans-serif; }

select, input, textarea, button {
  font: 99% sans-serif; }

nav ul {
  list-style-type: none;
  margin: 0; }

body {
  background-color: #eeeeee;
  font-family: sans-serif;
  font-size: 75%;
  line-height: 1.5;
  color: #333333; }

/**
 * Text Formatting
 * Big ups to baseline CSS: http://baselinecss.com/
 */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  position: relative; }

h1, h2 {
  line-height: 36px;
  margin-bottom: 18px; }

h1, h2, h3, h4 {
  margin-top: 18px; }

h3, h4, h5, h6 {
  line-height: 18px; }

h1, h2, h3 {
  font-weight: normal; }

h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: 36px;
  top: 5px; }

h2 {
  font-size: 28px;
  top: 8px; }

h3 {
  font-size: 22px;
  top: 1px; }

h4 {
  font-size: 18px;
  top: 2px; }

h5 {
  font-size: 15px;
  top: 4px; }

h6 {
  font-size: 13px;
  top: 5px; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child {
  margin-top: 0; }

b, strong, caption, th, thead, dt, legend {
  font-weight: bold; }

cite, dfn, em, i {
  font-style: italic; }

code, kbd, samp, pre, tt, var {
  font-family: mono-space, monospace; }

p, pre, address {
  font-size: 13px;
  line-height: 18px;
  position: relative;
  top: 5px; }

p {
  hyphenate: auto;
  hyphenate-lines: 3;
  margin-bottom: 18px; }

pre {
  white-space: pre; }

del {
  text-decoration: line-through; }

mark {
  background: rgba(255, 255, 0, 0.4);
  padding: 0 .25em; }

ins {
  color: #f00; }

small {
  font-size: 11px; }

small, sup, sub {
  font-size: 80%; }

big {
  font-size: 125%;
  line-height: 80%; }

abbr, code, kbd, samp, small, var {
  line-height: 15px; }

abbr, acronym {
  font-size: 85%;
  text-transform: uppercase;
  letter-spacing: .1em; }

abbr[title], acronym[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help; }

sup, sub {
  line-height: 0; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

blockquote {
  padding: 1.5em; }

hr {
  position: relative;
  height: 4px;
  margin: 18px 0 14px 0; }

hr {
  border: none;
  background: #e3e7e9;
  width: 100%; }

ul, ol, dl, dialog {
  font-size: 13px;
  line-height: 18px;
  position: relative;
  top: 5px;
  margin-top: 18px;
  margin-bottom: 18px; }

li ul, li ol, ul ul, ol ol {
  top: 0;
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  margin-left: 1.5em; }

ul {
  list-style: disc outside; }

ol {
  list-style: decimal outside; }

li h1, li h2, li h3, li h4, li h5, li h6, li p {
  top: 0; }

input, select, button {
  cursor: pointer; }

table {
  font: inherit;
  width: 100%; }

form, legend, label {
  font-size: 13px;
  line-height: 18px; }

legend {
  position: relative;
  top: 5px; }

table {
  font-size: 13px; }

caption {
  font-size: 13px;
  line-height: 18px;
  position: relative; }

a {
  color: #0000bb;
  text-decoration: underline; }
  a:hover {
    color: #000077;
    text-decoration: underline; }

/**
 * Layout
 */
html, body {
  height: 100%; }

body {
  background: url(/images/bg-paper.gif); }

#sidebar {
  background: #333333 url(/images/sidebar-bg.gif);
  border-right: 2px solid #444;
  color: #555;
  height: 100%;
  padding: 0 10px;
  position: fixed;
  text-shadow: black 0 -1px 0;
  width: 138px; }
  #sidebar header {
    position: relative;
    top: 18px; }
  #sidebar footer {
    position: absolute;
    bottom: 0px; }
  #sidebar a {
    color: #555;
    text-decoration: none; }
    #sidebar a:hover {
      color: #eee; }
  #sidebar hr {
    border-top: 1px solid #222;
    border-bottom: 1px solid #444;
    height: 0px;
    margin: 20px 0 16px; }

#content {
  color: #666;
  margin-left: 170px;
  padding-top: 18px;
  text-shadow: #fff 0 1px 0; }

.container {
  max-width: 792px; }

.col_full {
  float: left;
  margin: 0 1.2626263%;
  width: 100%; }

.col_three_quarters {
  float: left;
  margin: 0 1.2626263%;
  width: 72.474747475%; }

.col_two_thirds {
  float: left;
  margin: 0 1.2626263%;
  width: 64.141414141%; }

.col_half {
  float: left;
  margin: 0 1.2626263%;
  width: 47.474747475%; }

.col_third {
  float: left;
  margin: 0 1.2626263%;
  width: 30.808080808%; }

.col_quarter {
  float: left;
  margin: 0 1.2626263%;
  width: 22.474747475%; }

.clear {
  clear: both; }

@media screen and (max-width: 924px) {
  .col_three_quarters {
    width: 100%; } }

@media screen and (max-width: 678px) {
  .col_two_thirds {
    width: 100%; } }

@media screen and (max-width: 546px) {
  .col_half {
    width: 100%; } }

@media screen and (max-width: 414px) {
  .col_third {
    width: 100%; } }

@media screen and (max-width: 348px) {
  .col_three_quarters {
    width: 100%; } }

/**
 * Pages!
 */
#greeting {
  background: #2e88c4;
  background: -moz-linear-gradient(top, #2e88c4 0%, #075698 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e88c4), color-stop(100%, #075698));
  -webkit-border-radius: 600px / 300px;
  -moz-border-radius: 600px / 300px;
  border-radius: 600px / 300px;
  float: right;
  padding: 80px 30px;
  position: relative;
  width: 508px;
  /* creates part of the curve */
  /* creates part of the curved pointy bit */ }
  #greeting h1 {
    color: #fff;
    font-size: 150px;
    text-align: center;
    text-shadow: #075698 0 3px 0; }
  #greeting:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -60px;
    right: 270px;
    width: 0;
    height: 60px;
    border-right: 120px solid #075698;
    background: #075698;
    /* need this for webkit - bug in handling of border-radius */
    /* css3 */
    -moz-border-radius-bottomright: 160px 100px;
    -webkit-border-bottom-right-radius: 160px 100px;
    border-bottom-right-radius: 160px 100px;
    /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px); }
  #greeting:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -60px;
    right: 290px;
    width: 120px;
    height: 60px;
    background: url(/images/bg-paper.gif);
    /* css3 */
    -moz-border-radius-bottomright: 40px 50px;
    -webkit-border-bottom-right-radius: 40px 50px;
    border-bottom-right-radius: 40px 50px;
    /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
    -moz-transform: translate(-30px, -2px);
    -webkit-transform: translate(-30px, -2px);
    -o-transform: translate(-30px, -2px);
    transform: translate(-30px, -2px); }

#home-text {
  margin-top: 36px; }
