h1, h2, h3 { font-family: $heading_font; margin: 24px 0; }
h6 { font-weight: normal; }
h4, h5, h6 { font-family: $small_caps; margin: 24px 0 -24px; text-transform: lowercase; }

h1 { font-size: 48px; line-height: 60px; margin-bottom: 16px; &.intense { font-weight: bold; } }
h2 { font-size: 36px; line-height: 48px; }
h3 { font-size: 24px; line-height: 24px; }
h4 { font-size: 21px; line-height: 24px; }
h5 { font-size: 18px; line-height: 24px; }
h6 { font-size: 16px; line-height: 24px; }

body, button, input, select, textarea { font: 16px/24px $serif; }

p { margin: 24px 0; }
h1 + p { margin-top: 16px; }
ol, ul { padding-left: 20px; }
h4 + ul, h4 + ol, h5 + ul, h5 + ol, h6 + ul, h6 + ol { margin-top: 24px; }
blockquote { 
	border-left: 1px solid #999; 
	font-family: $serif; 
	font-style: italic; 
	margin-left: 0; 
	padding-left: 20px; 
	
	cite {
		font-family: $sans_serif;
		font-style: normal;
		&:before { content: '— '; }
	}
}
pre { margin: 24px 0; }
// anything bigger than the iPad in portrait
@media only screen and (min-width: 768px) {
	h1.intense { font-size: 60px; }
}
