RewriteEngine On

#www is for the weak.
RewriteCond %{HTTP_HOST} ^www.keithsilgard\.com$ [NC]
RewriteRule ^(.*)$ http://keithsilgard.com/$1 [R=301,L]

redirect 301 "/projects/stupidly-expensive-german-clock" http://www.keithsilgard.com/projects/stupidly-expensive-german-clock.html
redirect 301 "/articles/2009-in-review" http://www.keithsilgard.com/articles/2009-in-review.html