$text_color: #feffef;
$hover_color: #dcf6ff;
#site-sidebar { ul, li a { color: $text_color; } li a:hover { color: $hover_color; } }
#content {
	background-color:#FFF;
	background-image: url(http://static.keithsilgard.com/images/paper-texture.png), url(http://static.keithsilgard.com/images/ideas-grid.png), -ms-radial-gradient(center, circle farthest-corner, #1863b7 0%, #0D4583 100%);
	background-image: url(http://static.keithsilgard.com/images/paper-texture.png), url(http://static.keithsilgard.com/images/ideas-grid.png), -moz-radial-gradient(center, circle farthest-corner, #1863b7 0%, #0D4583 100%);
	background-image: url(http://static.keithsilgard.com/images/paper-texture.png), url(http://static.keithsilgard.com/images/ideas-grid.png), -o-radial-gradient(center, circle farthest-corner, #1863b7 0%, #0D4583 100%);
	background-image: url(http://static.keithsilgard.com/images/paper-texture.png), url(http://static.keithsilgard.com/images/ideas-grid.png), -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #1863b7), color-stop(1, #0D4583));
	background-image: url(http://static.keithsilgard.com/images/paper-texture.png), url(http://static.keithsilgard.com/images/ideas-grid.png), -webkit-radial-gradient(center, circle farthest-corner, #1863b7 0%, #0D4583 100%);
	background-image: url(http://static.keithsilgard.com/images/paper-texture.png), url(http://static.keithsilgard.com/images/ideas-grid.png), radial-gradient(circle farthest-corner at center, #1863b7 0%, #0D4583 100%);
	color: $text_color;
}

.meta { color: #95b3d5; }

h1, h2, h3, h4, h5, h6 { font-family: "museo-slab", Courier, monospace; font-weight: 100;  }
h3 { line-height: 48px; }
h4, h5, h6 { font-weight: 300; margin-bottom: 24px; text-transform: none; } 
body, button, input, select, textarea { font-family: "museo-slab", Courier, monospace; font-weight: 300; }
a { color: $text_color; text-decoration: underline; }
a:hover { color: $hover_color; }
a:visited { color: $text_color; }
strong { font-weight: 700; }

hr { margin: -1px 0; }
hr#footnotes { margin-bottom: 22px; }

hr#footnotes + ol, hr#footnotes + p { color: #95b3d5; }

article img { margin-left: -10px; } 

@media only screen and (max-width: 1000px) { 
	article img { width: 105%; }
}
