	</div>
	
	<footer id="site-footer">
		
		<div class="container">

			<div id="get-in-touch">
				<h3>You can <a href="mailto:hey@keithsilgard.com" class="email">email</a> me, or find me on <a href="http://twitter.com/ironkeith" class="twitter">Twitter</a>.</h3>
			</div>

			<div id="about-me">
				<p>I'm Keith. I happily program away at <a href="http://www.whitespark.ca">Whitespark</a>. I do HTML/CSS, PHP, JavaScript, even a little Ruby and Obj-C. I also do less geeky stuff, but you’ll find little of that here.</p>
			</div>
			
			<div id="footer-search">
				<form action="/search.php" method="get" accept-charset="utf-8">
					<input type="search" name="q" value="" id="q" placeholder="Search" results="5" autosave="ks-search-form">
				</form>
				<p>This form just submits to Google, because let's face it: I’m not going to just whip up a better search engine.</p>
			</div>
			
		</div>
	
	</footer>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.6.2.min.js"%3E%3C/script%3E'))</script>

	<script defer src="/js/main.js?v=3"></script>

	{% if page.scripts %}
		{% for script in page.scripts %}
			<script src="{{ script }}"></script>
		{% endfor %}
	{% endif %}

	<script>
		window._gaq = [['_setAccount','UA-1266232-5'],['_trackPageview'],['_trackPageLoadTime']];
		Modernizr.load({
			load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
		});
	</script>
	
</body>
</html>