body {
	background: #FAFAFA;
	color: #333;
}

a {
	color: #000;
}
a:visited {
	color: #666;
}
a:hover {
	color: #000;
}


em {
	background: #FFC;
}

#header {
	background: #333;
	color: #FFF;
}

#header a {
	color: #FFF;
}
#header a:hover {
	color: #FFF;
}

#nav li.current a {
	background: url(/images/nav-arrow.gif) 60% 100% no-repeat
}

#nav a {
	color: #CCC;
}
#nav .current a {
	color: #FFF;
}
#nav a:hover {
	color: #FFF;
}

#sidebar {
	color: #666;
}

#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6 {
	color: #333;
}

#sidebar li a {
	color: #666;
}
#sidebar li a:hover {
	color: #333;
}

/*  H O M E  */
ul.activity-feed li em {
	background: none;
	color: #999;
}
ul.activity-feed li.delicious {
	list-style-image: url(/images/icons/delicious.png);
}
ul.activity-feed li.flickr {
	list-style-image: url(/images/icons/flickr.png);
}
ul.activity-feed li.google-reader {
	list-style-image: url(/images/icons/googlereader.png);
}
ul.activity-feed li.lastfm {
	list-style-image: url(/images/icons/lastfm.png);
}
ul.activity-feed li.stumbleupon {
	list-style-image: url(/images/icons/stumbleupon.png);
}
ul.activity-feed li.twitter {
	list-style-image: url(/images/icons/twitter.png);
}
ul.activity-feed li.vimeo-favorites {
	list-style-image: url(/images/icons/vimeo.png);
}
ul.activity-feed li.youtube-favorites {
	list-style-image: url(/images/icons/youtube.png);
}