html {
	font-size: 62.5%;
}
body {
	background: #EFEFEF;
	font-family: Helvetica, Arial, Sans;
	font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.1em;
	letter-spacing: 0em;
}

h1 { 
	font-size: 3.6em;
}

h2 { 
	font-size: 2.4em; 
}

h3 { 
	font-size: 2.1em;
}

h4 { 
	font-size: 1.8em; 
}

h5 { 
	font-size: 1.6em; 
}

h6 { 
	font-size: 1.4em; 
}

p {
	line-height: 1.6em;
}

blockquote {
	line-height: 1.6em;
	font-style: italic;
	padding: 0 10px;
	text-indent: -0.65em;
}

code {
	font-family: Monaco, "Andale Mono", "Courier New", monospace;
	line-height: 1.6em;
}

.pic p, .caption {
	font-size: 0.8em;
}

#header a {
	text-decoration: none;
}
#header a:hover {
	text-decoration: underline;
}

#sidebar li a {
	text-decoration: none;
}
#sidebar li a:hover {
	text-decoration: underline;
}

/*  H O M E  */
ul.activity-feed a {
	text-decoration: none;
}
ul.activity-feed a:hover {
	text-decoration: underline;
}
