.for-myself td:first-child:before, .for-mindtravellers td:first-child:before, .for-statusfirm td:first-child:before, .for-whitespark td:first-child:before {
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 8px;
  margin-right: 5px;
  width: 8px; }

.for-myself td:first-child:before {
  background-color: #3E978D; }

.for-mindtravellers td:first-child:before {
  background-color: #fc0; }

.for-statusfirm td:first-child:before {
  background-color: #00BFF3; }

.for-whitespark td:first-child:before {
  background-color: #FF0654; }
