@import '../main.scss';
#content {
	background: #000; color: #fff; text-shadow: rgba(0,0,0,0.01) 0 0 0; width: 100%;
}

.main { width: 100%; }

#clock { 
	list-style-type: none; 
	margin: 0; 
	overflow: hidden; 
	padding: 0;
}
#clock li { color: #444; font-size: 40px; line-height: 1em; float: left; height: 62px; overflow: hidden; text-align: center; text-transform: uppercase; width: 56px;  -webkit-transition: all .4s ease-in-out; }
#clock li.active { color: #fff; text-shadow: 0px 0px 5px #fff; -webkit-transition: all .4s ease-in-out; }

.bullet { color: #444; padding: 59px 0; text-align: center; }
.bullet.active { color: #fff; }

.why { color: #222; font-size: 10px; padding-top: 59px; text-align: center; }
.why a { color: #222; }
#letter-10_6 { left: 3px; position: relative; }