<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<title>{{ page.title }} | Keith Silgard</title>
	<meta name="description" content="{{ page.description }}">
	
	<link rel="shortcut icon" href="http://static.keithsilgard.com/images/favicon.png">
	<link rel="alternate" type="application/atom+xml" href="/atom.xml" />
	<link rel="stylesheet" href="/css/main.css?v=3">
		
	{% if page.additional_stylesheets %}
		{% for stylesheet in page.additional_stylesheets %}
			<link rel="stylesheet" href="{{ stylesheet }}">
		{% endfor %}
	{% endif %}
	
	<script src="{{ site.file_prefix }}/js/libs/modernizr-2.6.2.min.js"></script>
	<script type="text/javascript" src="http://use.typekit.com/{% if page.typekit %}{{ page.typekit }}{% else %}cdm8mfk{% endif %}.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
</head>

<body>
	
	<div id="content">
		
		<header class="container">
			<div class="row">
				<div class="span12">
					<h3><a href="/">Keith Silgard</a></h3>
				</div>
			</div>
		</header>

		<div class="container">
			<div class="row">
				<div class="span8 content">
					<h1>{{ page.title }}</h1>
					{% if page.date %}
					<p class="meta">Posted <date class="date" datetime="{{ page.date }}">{{ page.date | date: "%A, %B %d, %Y" }}</date></p>
					{% endif %}
					{{ content }}	
				</div>
			</div>

		</div>
		
	</div>
	
	<footer id="peek-a-boo">
		
		<div class="container">

			<div class="row">
				
				<div class="span2 offset2" id="big-dumb-mug">
					<img src="http://static.keithsilgard.com/images/me-icon@2x.png" alt="A picture of my big, dumb face.">
				</div>
				<div class="span6">
					<p id="about-me">I'm Keith. I make software in Edmonton, Canada. I obsess over silly things. I also do less geeky stuff, but you’ll find little of that here.</p>
				</div>
				
			</div>
			
			<div class="row">
				<div class="span12"><hr></div>
			</div>

			<div class="row">
				<div class="span12" id="get-in-touch">
					<h3>You can <a href="mailto:hey@keithsilgard.com" class="email">email me</a>, or find me on <a href="http://twitter.com/ironkeith" class="twitter">Twitter</a>.</h3>
						
					<div id="footer-search">
						<form action="/search.php" method="get" accept-charset="utf-8">
							<input type="search" name="q" value="" id="q" placeholder="Search">
						</form>
					</div>

					
				</div>
			</div>

			
			
			
			
			
		</div>
	
	</footer>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script defer src="/js/main.js?v=3"></script>

	{% if page.scripts %}
		{% for script in page.scripts %}
			<script src="{{ script }}"></script>
		{% endfor %}
	{% endif %}

	<script>
		window._gaq = [['_setAccount','UA-1266232-5'],['_trackPageview'],['_trackPageLoadTime']];
		Modernizr.load({
			load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
		});
	</script>
	
</body>
</html>