<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <link rel="shortcut icon" href="http://static.keithsilgard.com/images/favicon.png">
  <link rel="alternate" type="application/atom+xml" href="/atom.xml" />
  <link rel="stylesheet" href="{% asset_fingerprint /css/main.css %}">
</head>

<body>

  <aside class="sidebar">
    <nav class="navigation">
      <h3><a href="/">Keith Silgard</a></h3>
      <ul>
        <li><a href="https://twitter.com/ironkeith">@Twitter</a></li>
        <li><a href="http://eepurl.com/jgbR9">Mailing List</a></li>
        <li><a href="/about-me.html">About Me</a></li>
        <li><a href="/archives.html">Archive</a></li>
      </ul>
    </nav>
  </aside>

  <div class="content">
    {% if page.title != 'Keith Silgard' %}
      <h1>{{ page.title }}</h1>
    {% endif %}
    {% if page.date %}
    <p class="meta">Posted on a <date class="date" datetime="{{ page.date }}">{{ page.date | date: "%A" }} in {{ page.date | date: "%B, %Y" }}</date></p>
    {% endif %}
    {{ content }}
  </div>

  <script defer src="{% asset_fingerprint /js/main.min.js %}"></script>

</body>
</html>