{% include v2/_top.html %}
	<div class="container">
	
		{% include v2/header.html %}
	
		<div class="main">
	
			<article>
				
				{% unless page.featured_image %}
				<h1>{{ page.title }}</h1>
				{% else %}
				<figure class="featured">
					<img src="{{ page.featured_image }}" alt="{{ page.featured_image_alt }}" />
					<h1>{{ page.title }}</h1>	
				</figure>
				{% endunless %}
				
				{% if page.date %}
				<p class="meta">Posted <date class="date" datetime="{{ page.date }}">{{ page.date | date: "%A, %B %d, %Y" }}</date></p>
				{% endif %}
				
				{{ content }}
			
			</article>
	
		</div>
	
	</div>
{% include v2/_bottom.html %}